<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>افزودن رکورد جدید</h3>
    </div>
  </div>
  <hr>
  <form [formGroup]="formGp">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="form-group">
          <mat-form-field>
            <input formControlName="date" autocomplete="off" class="form-control" matInput [matDatepicker]="planActPropDate" (focus)="planActPropDate.open()" placeholder="تاریخ شروع قرارداد" [(ngModel)]="selectedDate">
            <mat-datepicker-toggle matSuffix [for]="planActPropDate"></mat-datepicker-toggle>
            <mat-datepicker #planActPropDate></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </form>
  <div class="row" style="margin-top: 250px;">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <button class="btn btn-danger" mat-dialog-close>بستن</button>
    </div>
    <div class="col-md-5">
      <button class="btn btn-primary" #dd [mat-dialog-close]="formGp.get('date').value">افزودن رکورد جدید</button>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
