.table th, .table td {
  max-width: 75px;
  text-align: center;
  font-family: IranSans;
}

.btn {
  font-family:IranSans;
}

.mat-raised-button.mat-primary {
  background-color: #86367c;
}

.table {
  background: #fff;
}

h2 {
  text-align: center;
  font-size: 18px;
}
