mat-card {
  min-height: 60px;
  font-family: IranSans;
  direction: rtl;
  text-align: justify;
}

h5 {
  height: 30px;
  color: #0f165a;
}

h3 {
  font-family: IranSans;
  text-align: center;
  direction: rtl;
  //border-bottom: 1px solid #e4e8ff;
  //margin-bottom: 20px;
  font-size: 17px;
  font-weight: bold;
  height: 7px;
}

h6 {
  font-size: 20px;
  font-size: 14px;
  color: #152385;
}

.percent-circle {
  text-align: center;
  margin-top: -118px;
  z-index: 1;
  display: block;
  position: absolute;
  width: 87%;
  font-family: IranSans;
  font-weight: bold;
  direction: rtl;
  cursor: default;
  color: #0b1b36;
  font-size: 21px;
  margin-right: 25px;
}

.percent-circle:hover {
  color: #173971;
}

.counter-num {
  height: 100%;
  line-height: 75px;
  text-align: center;
  font-size: 20px;
  border-left: 1px solid;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

.btn {
  width: 100%;
}

.lastDuty th, td {
  text-align: center;
}

// new Stepper //

.steps-form-2 {
  display: table;
  width: 100%;
  position: relative;
  background: #e7e7fe;
}

.steps-form-2 .steps-row-2 {
  display: table-row;
}

.steps-form-2 .steps-row-2:before {
  top: 33px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: rgba(0,0,0,.12);
  z-index: 8;
}

.steps-form-2 .steps-row-2 .steps-step-2 {
  display: table-cell;
  text-align: center;
  position: relative;
  z-index: 10;
  background: #e7e7fe;
}

.steps-form-2 .steps-row-2 .steps-step-2 p {
  margin-top: 0.5rem;
}

.steps-form-2 .steps-row-2 .steps-step-2 button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 {
  width: 100%;
  height: 54px;
  border: 2px solid #59698D;
  background-color: white;
  color: #59698D !important;
  border-radius: 50%;
  padding: 11px 18px 15px 18px;
  margin-top: -15px;
  font-family: IranSans;
}

.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2:hover {
  border: 2px solid #4285F4;
  color: #4285F4 !important;
  background-color: #afcada;
}

.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 .fa {
  font-size: 1.7rem;
}

.numberCircle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 1px;
  color: #fff;
  text-align: center;
  font: 17px IranSans;
  float: right;
  background-color: #35b4bb;
  display: none;
}

.stepTitle {
  line-height: 25px;
  float: right;
  padding-right: 10px;
  font-size: 14px;
}

.step-design {
  background-color: #e7e7fe;
  padding: 20px;
  height: 100%;
  font-family: IranSans;
  cursor: pointer;
}

.step-design:hover {
  //background-color: rgba(181, 192, 199, 0.45) !important;
}

.step-header {
  background: #a2ceff42;
  box-shadow: 0px 1px 14px 0px #0a1252;
  margin: 15px 10px;
}

.setup-content-2 {

}

// new Stepper //
.step-design .fas {
  position: absolute;
  left: 5px;
  bottom: 5px;
}

#step-changes {
  background: #000 !important;
}

.header {
  height: 50px;
}

.step-content {
  min-height: 500px;
  padding: 25px;
}
