<div *ngFor="let addDeliverablesForm of addDeliverablesForms; let s = index" class="total-val-forms">
  <div class="row">
    <p class="title"><i class="fas fa-tools"></i>{{ getServiceName(finalServices[s]) }}</p>
    <form [formGroup]="addDeliverablesForm">
      <div class="row" style="padding: 20px 30px;">
        <div class="col-md-2">
          <div class="form-group">
            <mat-form-field>
              <input style="float: left;" class="form-control" matInput formControlName="changesPercentage"
                     placeholder="درصد تغییر" required autocomplete="off">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row"
           *ngFor="let addForm of addDeliverablesForm.get('name_Deliverable').value; let i = index">
        <div style="text-align: center;" class="col-md-1">
          <span style="border: 2px solid #4d7b79;padding: 0px 7px;border-radius: 4px;line-height: 80px;">{{ i + 1 }}</span>
        </div>
        <div class="col-md-3">
          <mat-form-field *ngIf="dels[s]" formArrayName="name_Deliverable">
            <mat-select class="form-control" (selectionChange)="changeSelected($event, i, s)" placeholder="تحویل شدنی"
                        [formControlName]="i" [disabled]="i < this.counter[s]">
              <mat-option *ngFor="let del of dels[s]" [value]="del.Id">
                {{ del.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <div *ngIf="possibleOperationTypes[s][i]" formArrayName="operationTypes_deliverables">
            <mat-form-field>
              <mat-select class="form-control" placeholder="نوع عملیات" [formControlName]="i" [disabled]="i < this.counter[s]">
                <mat-option *ngFor="let operation of possibleOperationTypes[s][i]" [value]="operation.Id">
                  {{ operation.Name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-2">
          <div *ngIf="possibleOperationTypes[s][i]" formArrayName="value_Deliverable">
            <div style="margin-top: -10px;" class="form-group">
              <label [for]="'value_Deliverable' + i">مقدار</label>
              <input currencyMask autocomplete="off"
                     (keyup)="valueChanged()"
                     [options]="{ suffix: ' ' + getMeasureUnit(addDeliverablesForm.get('name_Deliverable').value[i]) + ' ', thousands: ',', prefix: '', decimal: '', precision: 0 }" class="form-control"
                     [formControlName]="i" type="text" class="form-control" [id]="'value_Deliverable' + i"
                     aria-describedby="AgentName_StakeholdersContract" placeholder="مقدار">
            </div>
          </div>
        </div>
        <!--<div class="col-md-3" *ngIf="passedData.zoneShow">-->
        <!--<div class="col-md-3">-->
        <!--<mat-form-field *ngIf="zones && possibleOperationTypes[i]" formArrayName="zone_deliverables">-->
        <!--<mat-select class="form-control" placeholder="ناحیه ها" [formControlName]="i" multiple>-->
        <!--<mat-option *ngFor="let zone of zones" [value]="zone.Id">-->
        <!--{{ zone.Name }}-->
        <!--</mat-option>-->
        <!--</mat-select>-->
        <!--</mat-form-field>-->
        <!--</div>-->
        <!--<div *ngIf="!isReadOnly" class="col-md-1">-->
        <!--<div class="trasha" (click)="onDeleteDeliverable(i)">-->
        <!--<i class="fas fa-times"></i>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </form>
  </div>
  <hr>
  <div *ngIf="!isReadOnly" class="row">
    <div class="col-md-12">
      <button class="plusBtn" (click)="onAddd({ id: null }, null, null, null, false, i, s)" mat-fab>
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="row" style="direction: rtl;margin: 25px 0;background: #fdecec;padding: 15px;">
    <div class="col-md-12">
      <p style="text-align: right; color: #da345a; font-size: 18px;font-weight: bold;border-bottom: 1px solid #da345a2b;padding-bottom: 5px;">الزامات : </p>
    </div>
    <div class="col-md-12">
      <p><span>1.</span> آیتم های تحویل شدنی ها تکراری نداشته باشند.</p>
      <p><span>2.</span> در صورت اعمال تغییر ، درصد متغیر مناسب اعمال شده باشد.</p>
      <p><span>2.</span> برای خدمات اضافه شده حداقل یک تحویل شدنی وارد شود.</p>
    </div>
  </div>
</div>
<div class="row last-button-row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <button class="btn btn-primary" (click)="onSubmitClick()">ثبت اطلاعات</button>
  </div>
  <div class="col-md-4"></div>
</div>
<!--<div *ngIf="!isReadOnly" style="direction: ltr;margin-top: 100px;" class="row">-->
<!--<div class="col-md-4"></div>-->
<!--<div class="col-md-4" *ngIf="!passedData.isChange">-->
<!--&lt;!&ndash;<button style="width: 100%" *ngIf="deliverablesForm.name_Deliverable" class="btn btn-primary deliverableButton" #dd (click)="showForm()">اعمال تغییرات</button>&ndash;&gt;-->
<!--&lt;!&ndash;<button style="width: 100%" *ngIf="!deliverablesForm.name_Deliverable" class="btn btn-primary deliverableButton" #dd (click)="showForm()">تایید</button>&ndash;&gt;-->
<!--<button style="width: 100%" class="btn btn-primary deliverableButton" #dd (click)="showForm()">تایید</button>-->
<!--</div>-->
<!--<div class="col-md-4"></div>-->
<!--</div>-->
