.flex-centered {
  margin: auto;
}
nb-card-body {
  display: flex;
}

.title {
  text-align: center;
}

.sub-title {
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  margin-bottom: 2rem;
}

.my-tab {
  text-align: center;
}

.my-tab h3 {
  cursor: pointer;
}

.example-header-image {
  background-image: url('http://www.freeiconspng.com/uploads/contract-icon-25.png');
  background-size: cover;
}

img {
  max-height: 150px;
  min-height: 150px;
  width: 100%;
}

.img1 {
  clip-path: polygon(21% 38%, 100% 0, 100% 100%, 0 100%);
}

.img2 {
  clip-path: polygon(21% 38%, 100% 0, 0 0, 0 100%);
  margin-top: -175px;
}

.my-tab-active h3 {
  color: #a5a8ac;
}

.mat-card {
  font-family: IranSans;
  margin: 10px 0;
}

.mat-button {
  font-family: IranSans;
}

.fa-user-check {
  color: #d35548 !important;
}

.fa-user-check-fade {
  color: #d3554847 !important;
}

.fa-user-edit {
  color: #2c85d3 !important;
}

.fa-user-edit-fade {
  color: #2c85d347 !important;
}

.fa-check-double {
  color: #39d38e !important;
}

.fa-check-double-fade {
  color: #39d38e47 !important;
}

.doted-line-box {
  border-top: 6px dotted #1e3aed30;
}

.fal, fas {
  cursor: default !important;
  font-size: 25px;
  color: #fff;
  margin: 7px 3px;
}

.card-avatar {
  border: 2px solid #159CDA;
  background: rgba(21, 161, 223, 0.08);
}

.fa-file-signature {
  color: #159CDA;
  margin-left: 9px;
  font-size: 22px;
  margin-top: 7px;
}

.card-avatar-special {
  border: 2px solid #da345a;
  background: rgba(240, 57, 99, 0.06);
}

.file-avatar-special {
  color: #da345a !important;
}

mat-chip {
  cursor: pointer;
}

.chips-red mat-chip {
  background-color: red !important;
}
.chips-orange mat-chip {
  background-color: orange !important;
}
.chips-green mat-chip {
  background-color: green !important;
}
.chips-blue mat-chip {
  background-color: blue !important;
}

.fa-clock {
  font-size: 22px;
  color: #ea5734;
}

.mat-card-title {
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 73%;
  font-size: 17px;
}

.btn-primary {
  border-radius: unset;
  width: 50%;
  border-color: #fff;
}

.pm-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.second-button {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 5px;
  background: rgb(138,134,207);
  background: linear-gradient(90deg, rgba(138,134,207,1) 3%, rgba(102,102,231,1) 47%, rgba(45,180,208,1) 100%);
}

.first-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 20px;
  background: rgb(138,134,207);
  background: linear-gradient(90deg, rgba(45,180,208,1) 3%, rgba(102,102,231,1) 47%, rgba(138,134,207,1) 100%);
}

mat-card-subtitle.mat-card-subtitle {
  font-size: 14px;
}
