h3, h5   {
  font-family: IranSans;
  text-align: center;
  direction: rtl;
}

h5 {
  color: #862e9e;
}

.change-category-hr {
  border-color: #862e9e2e;
}

.change-box {

}

.mat-list-base {
  direction: rtl;
  text-align: justify;
}

.btn {
  font-family: IranSans;
  width: 100%;
  background: #571d76;
  border-color: #430d56;
}

.main-request {
  background: #fff;
  border-radius: 5px;
  padding: 15px;
}
