.btn {
  width: 100%;
}

h3 {
  text-align: center;
  direction: rtl;
}

h5 {
  height: 30px;
  color: #0f165a;
}

th {
  text-align: center !important;
  font-family: IranSans !important;
}

table {
  text-align: center !important;
  font-family: IranSans !important;
}
