
.label {
  text-align: right;
  font-family: IranSans;
}

.sh {
  color: #5cb85c;
}

.sh2 {
  color: #da4a71;
}

label {
  font-size: 13px;
  color: #0f456d !important;
  font-family: IranSans;
  padding-right: 5px;
  margin-bottom: .4rem !important;
}

.boxD {
  border: 1.5px solid #4450a4;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 2px 3px 10px 1px #9b9b9b;
}
.fas {
  color: #ff4157;
}
.col-md-10 {
  border: 1px solid;
  padding: 45px;
  border-radius: 5px;
  border-color: #b9c9dc;
  background: #fff;
}
