.btn {
  font-family: IranSans;
}

.tab-visible {
  visibility: visible;
}

.tab-hidden {
  visibility: hidden;
}

.nav-item {
  cursor: pointer;
}

.nav-link span {
  font-family: IranSans;
}

.nav-tabs .nav-link.active {
  background-color: #defff8ab !important;
}
