.table-contract {
  border: 1px solid #d1d1d1b8;
  border-radius: 3px;
  padding: 0 20px;
  font-family: IranSans;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 9px;
  height: 250px;
}

.fa-eye {
  color: #5e3485;
}

.table tr {
  text-align: center;
}

h3 {
  text-align: center;
  padding-bottom: 10px;
}

h6 {
  text-align: center;
  border-bottom: 1px solid #e0e1ff;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
