.btn {
  width: 100%;
}

h3 {
  text-align: center;
  direction: rtl;
}

h5 {
  height: 30px;
  color: #0f165a;
}

th {
  text-align: center !important;
  font-family: IranSans !important;
}

table {
  text-align: center !important;
  font-family: IranSans !important;
}

.trasha.ng-star-inserted {
  margin-top: 36px;
  color: #bb1414;
}

.fa-times {
  cursor: pointer;
}

.mat-fab {
  line-height: 20px;
  width: 30px;
  height: 30px;
}

.mat-fab.mat-accent {
  background: linear-gradient(40deg, #56f1a2, #064c05) !important;
}

.plusBtn {
  float: right;
}

.sh {
  font-family: IranSans;
  color: #5cb85c;
}

.sh2 {
  font-family: IranSans;
  color: #da4a71;
}

.counter-num {
  height: 100%;
  line-height: 75px;
  text-align: center;
  font-size: 20px;
  border-left: 1px solid;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  order-color: #d4d2f8;
}

.cost-row {
  margin: 10px 0;
}
