<div class="container-fluid" style="background: #fff;">
  <div class="row" style="direction: rtl;">
    <div class="col-md-12" id="currSp">
      <span>مبلغ کل قرارداد (ریال) : </span>
      <span>{{ contractCost | separator }}</span>
    </div>
  </div>
  <br>
  <div class="row row-spinner" style="padding: 15px 0;margin: 0;">
    <mat-spinner diameter="60" *ngIf="!spinnerChecking"></mat-spinner>
  </div>
  <div class="row" style="direction: ltr;">
    <div class="col-md-7">
      <div [chart]="chart"></div>
    </div>
    <div class="col-md-5">
      <hot-table [settings]="options" [hotId]="instance"></hot-table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <li style="color: #13668c;text-align: right;padding: 20px 0;">آخرین رکورد این جدول برابر با برآورد هزینه ی کل این قرارداد بوده و باید بزرگتر یا مساوی مبلغ قرارداد باشد!</li>
      <li style="color: #13668c;text-align: right;padding: 20px 0;">بصورت تجمعی وارد شود!</li>
    </div>
  </div>
  <div class="row" style="direction: rtl">
    <div *ngIf="!isReadOnly" id="addRow" class="col-md-1">
      <button (click)="addRowPopUp()" matTooltip="افزودن رکورد" matTooltipClass="example-tooltip" class="plusBtn" mat-fab>
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div id="delete" class="col-md-1" *ngIf="!isReadOnly">
      <button (click)="deleteRowPopUp()" matTooltip="حذف رکورد" matTooltipClass="example-tooltip" class="plusBtn" mat-fab>
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div id="download" class="col-md-1">
      <button (click)="getCSV()" matTooltip="دانلود بصورت اکسل" matTooltipClass="example-tooltip" class="plusBtn" mat-fab>
        <i class="far fa-file-excel"></i>
      </button>
    </div>
  </div>
</div>
